.container{
    background-image: url(images/dolphy.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    font-size:large;
}
.personal{
    line-height:500%;
    font: size 25px;
    float: right;
    padding-right: 30%;
    margin: 20px;
    top: 2px;
}
img {
    width: 40%;
    border-radius: 50px;
}
.link{
    color: whitesmoke;
}
