.container{
    background-image: url(images/dolphy.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    font-size:large;
}
.personal{
    line-height:200%;
    font: size 25;px;
    float: right;
    padding: 170px;
    margin: 20px;
    top: 2px;
}
img {
    width: 40%;
}
.link{
    color: whitesmoke;
}
